/SignalShow$1.class
/SignalShow.class

# Ignore temporary debug helper classes created during local troubleshooting
Launcher.java
Launcher.class
LoadFromJar.java
LoadFromJar.class
TestLoad.java
TestLoad.class
TestLoad$*.class
