/AbsoluteValueOp.class
/ArrayMath.class
/ArrayUtilities.class
/AutoCorrelateOp.class
/BooleanOperation.class
/CalculusOperations.class
/CepstrumOp.class
/ClipOp.class
/ComplementFilterOp.class
/ConjugateOp.class
/ConvolveOp.class
/CorrelateOp.class
/DerivativeOp1D.class
/DerivativeOp2D.class
/Directional2DOperation.class
/DivideOp.class
/ExponentOp.class
/FFTCoefficients$SingletonHolder.class
/FFTCoefficients.class
/FourierTransformOp.class
/Histogram.class
/HologramEncoderOp.class
/IntegralOp1D.class
/IntegralOp2D.class
/IntegrateOp.class
/InterpolationFactory.class
/InterpolationUser.class
/Interpolator.class
/InvertOp.class
/MagnitudeOp.class
/MinusOp.class
/NegateOp.class
/NormalizationOperation.class
/NormalizeOp.class
/OffsetOp.class
/ParametricOperation.class
/PhaseDetourHologramOp.class
/PhaseOp.class
/PhaseUnwrapper1D.class
/PhaseUnwrapper2D.class
/PlusOp.class
/RealOp.class
/ReverseOp1D.class
/ReverseOp2D.class
/RotateOp2D.class
/SampleOp1D.class
/ScaleOp.class
/SignumOp.class
/SquareRootOp.class
/SquaredMagnitudeOp.class
/SubtractMeanOp.class
/ThresholdOp.class
/TimesOp.class
/Transforms.class
/TranslateOp1D.class
/TranslateOp2D.class
/UnwrapOp.class
